{% extends "base.html" %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'omarov/css/images.css' %}">
{% endblock css %}

{% block content %}
<div class="images">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image_copy.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/image.png" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_badge.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_eblo.jpg" class="rounded image" alt="...">
    <img src="http://localhost:8000/media/omarov_zavoz.jpg" class="rounded image" alt="...">
</div>
{% endblock content %}