{% extends "base.html" %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'omarov/css/images.css' %}">
{% endblock css %}

{% block content %}
<button type="button" class="btn btn-success mb-2 fs-4 rounded-3 w-100" data-bs-toggle="modal" data-bs-target="#addPhoto">Add photo</button>

<form action="{% url 'images:add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "images/add_photo.html" %}
</form>

{% if photos %}
    <div class="images border border-secondary-subtle border-opacity-50 rounded-3 border-3 p-2">
        {% for photo in photos %}
        <a href="{{photo.get_absolute_url}}">
            <img src="{{photo.image.url}}" alt="" class="image rounded">
        </a>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}